{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <title>SecureShare</title>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="/secureshare/logout/">Not {{request.user}}? Logout</a></li>
            {% else %}
            {% endif %}
          </ul>
      </div>
    </div>


          <p>This page allows you to manage your reports.</p>
          <br><br>

          <p><b>{{ message }}</b></p>
          <table class="table table-hover">
            <tr>
              <th class="col-md-1">Created at</th>
              <th class="col-md-1">Short description</th>
              <th class="col-md-2">Detailed description</th>
              <th class="col-md-3">File(s)</th>
              <th class="col-md-1">Private?</th>
              <th class="col-md-1">Encrypted?</th>
              <th class="col-md-2">Share with user?</th>
              <th class="col-md-1">Delete?</th>
              <!-- <th class="col-md-1">Tags</th> -->
            </tr>
            {% for report in reportList %}
            <tr>
              <td><a href="/secureshare/reportpage/{{ report.id }}">{{ report.created_at }}</a></td>
              <td>{{ report.short_description }}</td>
              <td>{{ report.detailed_description }}</td>
              <td>
                <a href="/secureshare/requestfiledownload/{{ report.id }}/{{ report.file1 }}">{{ report.file1 }}</a><br>
                <a href="/secureshare/requestfiledownload/{{ report.id }}/{{ report.file2 }}">{{ report.file2 }}</a><br>
                <a href="/secureshare/requestfiledownload/{{ report.id }}/{{ report.file3 }}">{{ report.file3 }}</a><br>
                <a href="/secureshare/requestfiledownload/{{ report.id }}/{{ report.file4 }}">{{ report.file4 }}</a><br>
                <a href="/secureshare/requestfiledownload/{{ report.id }}/{{ report.file5 }}">{{ report.file5 }}</a><br>
              </td>
              <td>{{ report.private }}</td>
              <td>{{ report.encrypt }}</td>
              <td>
                <form id="login_form" method="post" action="/secureshare/requestnewusertoreport/{{ report.id }}" style="width:90%">
                  {% csrf_token %}
                  <input type="text" name="user" class="form-control" placeholder="Username" required><br>
                </form>
              </td>
              <td><a href="/secureshare/requestdeletereport/{{ report.id }}">Delete</a></td>
            </tr>
            {% endfor %}
          </table>

        </div>

    </div>
   <!--<script src="{% static "js/bootstrap.min.js" %}"></script>-->
  </body>
</html>
