{% load staticfiles %}
<!DOCTYPE html>

<html>
	<head>
        <meta name="description" content="A platform to securely share files and messages.">
                
        <title>SecureShare</title>

        <!-- Bootstrap core, style CSS -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">
        <link href="{% static "css/signin.css" %}" rel="stylesheet">
        
        <!-- Bootstrap core JS -->
        <script src="{% static "js/bootstrap.min.js" %}"></script>
    </head>

	<title>hello</title>

	<body>
		<div class="container">
			<div align="center">
    			<h3 class="form-signin-heading">SecureShare</h3>
    		</div>
	    	<form class="form-signin" action="../authregister/" method="post">
	    		{% csrf_token %} 
                <p align="center">This platform allows for encrypted file and message sharing. It was created for <b>Advanced Software Development (CS 3240)</b>, taught by Prof. Mary Smith, at the University of Virginia.</p>
                <br>
                <p align="center">Register below.</p>
        		<label for="inputUsername" class="sr-only">Username</label>
        		<input type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required>
        		<label for="inputPassword" class="sr-only">Password</label>
        		<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        		<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      		</form>
      		<p align="center">Already registered? <a href="/secureshare">Sign in</a>.</p>
      		<br><br>
      		<p align="center">Developed by Hudson Ayers, Srikanth Chelluri, Marina Sanusi, and Sabina Yim.</p>
    	</div> <!-- /container -->
	</body>
</html>