{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SecureShare</title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/secureshare/home">SecureShare</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="/secureshare/logout/">Not {{request.user}}? Logout</a></li>
            {% else %}
            <li><a href="{% url '/secureshare/register/' %}">Register</a></li>
            <li><a href="{% url '/secureshare/login/' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
              <ul class="nav nav-sidebar">
                <li><a href="/secureshare/home"><b>Home</b></a></li>
              </ul>
              <ul class="nav nav-sidebar">
                <li><a href="/secureshare/createreport">Create a report</a></li>
                <li><a href="/secureshare/managereports">Manage my reports</a></li>
                <li><a href="/secureshare/managefolders">Manage my folders</a></li>
                <li><a href="/secureshare/viewreports">View all reports</a></li>
              </ul>
              <ul class="nav nav-sidebar">
                <li><a href="/secureshare/viewmessages">View messages</a></li>
                <!-- <li><a href="">View messages ({ unread message count })</a></li> -->
                <li><a href="/secureshare/managegroups">Manage my groups</a></li>
                <li><a href="/secureshare/creategroup">Create a new group</a></li>
              </ul>
              <ul class="nav nav-sidebar">
                <li><a href="/secureshare/manageaccount"><b>Manage my account</b></a></li>
                {% if siteManager %}
                <li class="active"><a href="/secureshare/manageusersreports"><b>Manage users and reports</b></a></li>
                {% endif %}
              </ul>
          </div>
        </div>

        {% if message %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <p style="color: red">{{ message }}</p>
        </div>
        {% else %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1>User: {{ profile.user.username }}</h1>
          <h3 class="page-header">Profile Page</h3>

          <p>This page presents information on the user <b>{{ profile.user.username }}</b>.</p>
          <br>

          <h4><b>Email:</b></h4>
          <p>{{ profile.user.email }}</p>

          <h4><b>Reports:</b></h4>
          <p>{{ profile.user.username }} owns {{ reportCount }} report(s).</p>
          {% if siteManager %}
              <p>As a site manager, you can view links to all of these reports below:</p>
          {% endif %}
          {% if not siteManager %}
            <p>Of these, links to the public reports are shown below:</p>
          {% endif %}
          {% for report in publicReportList %}
            <td><a href="/secureshare/reportpage/{{ report.id }}">{{ report.name }}</a></td> <br>
          {% endfor %}

          <h4><b>Website:</b></h4>
          {% if not profile.website %}
              The user did not provide a website.
          {% endif %}          <p><a href="{{ profile.website }}">{{ profile.website }}</a></p>

          <h4><b>Profile Picture:</b></h4>
          <img src= "{% static profile.picture %}" alt="The user did not supply a profile picture." style="width:304px;height:228px;">

          <h4><b>Site Manager?</b></h4>
          <p>{{ profile.siteManager }}</p>
          
          <br>
          {% if siteManager %}
          <h2>Edit User:</h2>
          <a href="/secureshare/deactivateuser/{{ profile.user_id }}"><b>Deactivate this user</b></a> <br>
          <a href="/secureshare/activateuser/{{ profile.user_id }}"><b>Activate this user</b></a>
          <form id="user_form" method="post" action="/secureshare/requestedituser/{{ profile.user_id }}" enctype='multipart/form-data'>
            {% csrf_token %}
            <p style="color:red"><b>{{ message }}</b></p>
            <div>
              <label>Do you want this user to be a site manager?<br></label><br>Note: There can only be a total of three site managers.<br>
              <input type="radio" name="siteM" value="True">Yes<br>
              <input type="radio" name="siteM" value="False">No<br><br>
              <label>Update user email:</label><br>
              <input type="text" name="email" value={{ profile.user.email }}><br>
            </div>
            <br>

            <br>
            <input type="submit" name="submit" class="btn btn-lg btn-primary btn-block" style="width: 200px" value="Update user" />
            <!-- <p style="color:red"><b>{{ report_form.errors }}</b></p> -->
          </form>
          {% endif %}
        </div>

        {% endif %}

      </div>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>
